<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="318686411318-8ne96sin1p0chpk0o41vij5587v3glgl.apps.googleusercontent.com"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Login</title>
</head>

<body>
    <div class="container">
        <h1>Register</h1>
    </div>
    <div class="container">
        <form action="" method="post">
            <div class="mb-3">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname" aria-describedby="fnameHelp">
                <!-- <div id="fnameHelp" class="form-text">Enter your First name</div> -->
              </div>
            <div class="mb-3">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname" aria-describedby="lnameHelp">
                <!-- <div id="lnamelHelp" class="form-text">Enter your Last Name.</div> -->
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Mob No</label>
                <input type="text" class="form-control" id="phone" name="phone" >
              </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3">
                <label class="form-label" for="confirm-password" name="confirm-password">Confirm Password</label>
              <input type="password" class="form-control" id="confirm-password" name="confirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <!-- <div>
        <form action="" method="post">
            <div>
            <label for="fname">First Name</label>
            <input type="text" name="fname" id="fname" placeholder="First Name">
            </div>
            <div>
                <label for="lname">Last Name</label>
                <input type="text" name="lname" id="lname" placeholder="Last Name">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" name="password" id="password" placeholder="Password">
            </div>
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="text" name="confirm-password" id="confirm-password" placeholder="Confirm Password">
            </div>
            <div>
                <input type="submit" value="Register">
            </div>
        </form>
    </div> -->
   
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
</body>

</html>